body{
    background-image:url(https://i.pinimg.com/736x/3e/d2/2d/3ed22d3b73876672ffc037e6a99562eb--design-plat-flat-design.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.menu{
    width: 95%;
    height: 560px;
    background-color: rgba(0, 0, 0, 0.281);
    border: 3px black;
    margin-top: 4%;
    margin-left: 2%;
    border-radius: 15px;
    
}
.Segundos{
    
    margin-left: 0.8%;
    border: 1px solid black;
    background-color: rgba(90, 81, 81, 0.151);
    width: 32%;
    height: 43%;
    float: left;
    border-style:dotted; /* estilo de borde */
    border-radius: 15px; /* redondeo de borde*/
}
.Area{
    width: 32%;
    height: 43%;
    margin-left: 0.4%;
    border: 1px solid black;
    background-color: rgba(90, 81, 81, 0.151);    
    float: left;
    border-style:dotted; /* estilo de borde */
    border-radius: 15px; /* redondeo de borde*/
}
.Raiz{
    width: 32%;
    height: 43%;
    margin-left: 0.4%;
    border: 1px solid black;
    background-color: rgba(90, 81, 81, 0.151);
    float: left;
    border-style:dotted; /* estilo de borde */
    border-radius: 15px; /* redondeo de borde*/
}

.Cadena{
    width: 32%;
    height: 43%;
    margin-left: 0.8%;
    margin-top: 0.5%;
    border: 1px solid black;
    background-color: rgba(90, 81, 81, 0.151);    
    float: left;
    border-style:dotted; /* estilo de borde */
    border-radius: 15px; /* redondeo de borde*/

}
.Version{
    margin-left: 0.4%;
    margin-top: 0.5%;
    border: 1px solid black;
    background-color: rgba(90, 81, 81, 0.151);
    width: 32%;
    height: 43%;
    position: relative;
    float: left;
    border-style:dotted; /* estilo de borde */
    border-radius: 15px; /* redondeo de borde*/
}

.Tamaño{
    margin-left: 0.4%;
    margin-top: 0.5%;
    border: 1px solid black;
    background-color: rgba(90, 81, 81, 0.151);
    width: 32%;
    height: 43%;
    position: relative;
    float: left;
    border-style:dotted; /* estilo de borde */
    border-radius: 15px; /* redondeo de borde*/
}
.Version2{
    resize: none;
    background-color: rgba(0, 0, 0, 0);
    border: 0ch ;
    text-align: center;
   
}
.Resolucion{
    text-align: center;
    resize: none;
    border-radius: 15px;
}
.Boton{
    text-decoration: none;
}
.Imprimir{
    bottom: auto;
    text-decoration: none;
    
}
