body{
    background-image: url(https://escritoradebolsillo.files.wordpress.com/2015/06/librosss.jpg?w=640);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu{
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    background-color: rgba(240, 248, 255, 0.527);
    border-radius: 20px;
}
.email1{
    margin-left: 20%;
    margin-right: 20%;
}
.contrasena{
    margin-left: 20%;
    margin-right: 20%;
}
.btnIS{
    margin-top: 50%;
   
}
.BtnIS{
    margin-top: 1%;
}
