body{
    background-image: url(https://escritoradebolsillo.files.wordpress.com/2015/06/librosss.jpg?w=640);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu{
    
    margin-left: 30%;
    margin-right: 30%;
    background-color: rgba(240, 248, 255, 0.527);
    border-radius: 20px;
    padding-bottom: 1%;
}
.DivEmail{
    margin-left: 20%;
    margin-right: 20%;
}
.contrasena{
    margin-left: 20%;
    margin-right: 20%;
}
.confContrasena{
    margin-left: 20%;
    margin-right: 20%;
}
.BtnR{
}
.BtnIS{
    margin-top: 1%;
}
