.div2{
    text-shadow: 0.2em 0.2em rgba(0, 0, 0, 0.295);
}
.div1{
    width: 400px; ;
    height: 380px;
    margin-top: 3%;
    margin-left: 35%;
    border: 2px solid black;
    background-color: rgba(0, 255, 255, 0.144);
    border-style:dotted; /* estilo de borde */
    border-radius: 15px; /* redondeo de borde*/
    font-family:'Times New Roman', Times, serif;
    /**/
}
body{
    /*imgen de fondo*/
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20200530/pngtree-cute-hand-drawn-style-math-education-plaid-background-image_337365.jpg);
    /*no repetir imagen de fondo*/
    background-repeat: no-repeat;
    /*rellenar con la imagen el fondo*/
    background-size: cover;
}
.Boton{
    display: inline-block;
    padding: 2px 5px;
    transition: 0.2s;
    text-decoration: none; /*quita la raya del boton */
    color: black;
}
.Boton:hover{
    background: #7fffd4;
}